In [1]:
import pandas as pd
import numpy as np

In [2]:
site = pd.read_csv('site_prelevement_polygons.csv')

In [3]:
site.head()

                                                 WKT  id            nom
0  POLYGON ((11.510867737843 3.86659235292269,11....   1  LAC MUNICIPAL
1  POLYGON ((11.4954824076219 3.85722887322613,11...   2      LAC OBILI
2  POLYGON ((11.2906953242731 5.7682508070682,11....   3  .MBAM RIVER 1
3  POLYGON ((11.2920301033549 5.76219848463978,11...   4   MBAM RIVER 2

In [4]:
site.rename(columns={"nom":"site_name"}, inplace=True)

In [5]:
site.columns

Index(['WKT', 'id', 'site_name'], dtype='object')

In [6]:
site["WKT"]  = site["WKT"].str.replace('POLYGON \(\(', '')

C:\Users\hp\AppData\Local\Temp\ipykernel_17328\45787301.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  site["WKT"]  = site["WKT"].str.replace('POLYGON \(\(', '')

In [7]:
site.loc[0, 'WKT']

'11.510867737843 3.86659235292269,11.5111497501074 3.86619709449744,11.5111698938406 3.86584203168713,11.5109818856643 3.86556736035452,11.5108005920658 3.86545347221489,11.5104581486018 3.86544677291209,11.5101694217597 3.86560085686326,11.510041844783 3.86579513658785,11.5100955614048 3.8661435001205,11.5103171424696 3.86658565362888,11.510867737843 3.86659235292269))'

In [8]:
site["WKT"]  = site["WKT"].str.replace('\)\)', '')

C:\Users\hp\AppData\Local\Temp\ipykernel_17328\3400107921.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  site["WKT"]  = site["WKT"].str.replace('\)\)', '')

In [9]:
site.loc[0, 'WKT']

'11.510867737843 3.86659235292269,11.5111497501074 3.86619709449744,11.5111698938406 3.86584203168713,11.5109818856643 3.86556736035452,11.5108005920658 3.86545347221489,11.5104581486018 3.86544677291209,11.5101694217597 3.86560085686326,11.510041844783 3.86579513658785,11.5100955614048 3.8661435001205,11.5103171424696 3.86658565362888,11.510867737843 3.86659235292269'

In [10]:
site

                                                 WKT  id      site_name
0  11.510867737843 3.86659235292269,11.5111497501...   1  LAC MUNICIPAL
1  11.4954824076219 3.85722887322613,11.495610477...   2      LAC OBILI
2  11.2906953242731 5.7682508070682,11.2904765080...   3  .MBAM RIVER 1
3  11.2920301033549 5.76219848463978,11.292106689...   4   MBAM RIVER 2

In [11]:
vertex = site['WKT'].str.split(',', expand=True)

In [12]:
colonnes = [str(int(c) + 1) for c in list(vertex.columns)]

In [13]:
vertex.columns = colonnes

In [14]:
vertex = vertex.add_prefix('WKT.')

In [15]:
vertex

,WKT.1,WKT.2,WKT.3,WKT.4,WKT.5,WKT.6,WKT.7,WKT.8,WKT.9,WKT.10,WKT.11,WKT.12,WKT.13,WKT.14
0,11.510867737843 3.86659235292269,11.5111497501074 3.86619709449744,11.5111698938406 3.86584203168713,11.5109818856643 3.86556736035452,11.5108005920658 3.86545347221489,11.5104581486018 3.86544677291209,11.5101694217597 3.86560085686326,11.510041844783 3.86579513658785,11.5100955614048 3.8661435001205,11.5103171424696 3.86658565362888,11.510867737843 3.86659235292269,None,None,None
1,11.4954824076219 3.85722887322613,11.4956104770531 3.85701723869269,11.4956665074293 3.85674770406909,11.4955744575256 3.85658797980735,11.4954824076219 3.85657001082602,11.4953423316814 3.85660794534171,11.4950661819704 3.85675169717524,11.4949661277272 3.85685551792878,11.4949941429153 3.85711107665271,11.4950661819704 3.85726880426427,11.4952702926264 3.85733469047309,11.4954824076219 3.85722887322613,None,None
2,11.2906953242731 5.7682508070682,11.2904765080301 5.76813106750226,11.2902467509751 5.76816372375002,11.2899075857986 5.76844674448522,11.2898857041743 5.76863179642802,11.2899622898593 5.7688712753232,11.2902248693508 5.76909986871972,11.2906953242731 5.76902367093112,11.2909797853888 5.76868622345854,11.2906953242731 5.7682508070682,None,None,None,None
3,11.2920301033549 5.76219848463978,11.2921066890399 5.76150181029044,11.291964458482 5.76120790054295,11.2918003462998 5.76093576175224,11.2915377668083 5.76076159285776,11.2912095424439 5.76097930396752,11.2911110751346 5.76130587047569,11.2911548383832 5.76175217773311,11.2911548383832 5.76224202675823,11.2910563710739 5.76274276088042,11.2912204832561 5.76298224226101,11.2915705892447 5.76303666983342,11.2919972809184 5.76268833327985,11.2920301033549 5.76219848463978

In [16]:
site = site.drop("WKT", axis=1)

In [17]:
site

   id      site_name
0   1  LAC MUNICIPAL
1   2      LAC OBILI
2   3  .MBAM RIVER 1
3   4   MBAM RIVER 2

In [18]:
polygons_df = pd.concat([site, vertex],axis = 1)

In [19]:
polygons_df

,id,site_name,WKT.1,WKT.2,WKT.3,WKT.4,WKT.5,WKT.6,WKT.7,WKT.8,WKT.9,WKT.10,WKT.11,WKT.12,WKT.13,WKT.14
0,1,LAC MUNICIPAL,11.510867737843 3.86659235292269,11.5111497501074 3.86619709449744,11.5111698938406 3.86584203168713,11.5109818856643 3.86556736035452,11.5108005920658 3.86545347221489,11.5104581486018 3.86544677291209,11.5101694217597 3.86560085686326,11.510041844783 3.86579513658785,11.5100955614048 3.8661435001205,11.5103171424696 3.86658565362888,11.510867737843 3.86659235292269,None,None,None
1,2,LAC OBILI,11.4954824076219 3.85722887322613,11.4956104770531 3.85701723869269,11.4956665074293 3.85674770406909,11.4955744575256 3.85658797980735,11.4954824076219 3.85657001082602,11.4953423316814 3.85660794534171,11.4950661819704 3.85675169717524,11.4949661277272 3.85685551792878,11.4949941429153 3.85711107665271,11.4950661819704 3.85726880426427,11.4952702926264 3.85733469047309,11.4954824076219 3.85722887322613,None,None
2,3,.MBAM RIVER 1,11.2906953242731 5.7682508070682,11.2904765080301 5.76813106750226,11.2902467509751 5.76816372375002,11.2899075857986 5.76844674448522,11.2898857041743 5.76863179642802,11.2899622898593 5.7688712753232,11.2902248693508 5.76909986871972,11.2906953242731 5.76902367093112,11.2909797853888 5.76868622345854,11.2906953242731 5.7682508070682,None,None,None,None
3,4,MBAM RIVER 2,11.2920301033549 5.76219848463978,11.2921066890399 5.76150181029044,11.291964458482 5.76120790054295,11.2918003462998 5.76093576175224,11.2915377668083 5.76076159285776,11.2912095424439 5.76097930396752,11.2911110751346 5.76130587047569,11.2911548383832 5.76175217773311,11.2911548383832 5.76224202675823,11.2910563710739 5.76274276088042,11.2912204832561 5.76298224226101,11.2915705892447 5.76303666983342,11.2919972809184 5.76268833327985,11.2920301033549 5.76219848463978

In [20]:
polygons_df_unpivot = pd.melt(polygons_df, id_vars=['id', 'site_name'])

In [21]:
polygons_df_unpivot

    id      site_name variable                              value
0    1  LAC MUNICIPAL    WKT.1   11.510867737843 3.86659235292269
1    2      LAC OBILI    WKT.1  11.4954824076219 3.85722887322613
2    3  .MBAM RIVER 1    WKT.1   11.2906953242731 5.7682508070682
3    4   MBAM RIVER 2    WKT.1  11.2920301033549 5.76219848463978
4    1  LAC MUNICIPAL    WKT.2  11.5111497501074 3.86619709449744
5    2      LAC OBILI    WKT.2  11.4956104770531 3.85701723869269
6    3  .MBAM RIVER 1    WKT.2  11.2904765080301 5.76813106750226
7    4   MBAM RIVER 2    WKT.2  11.2921066890399 5.76150181029044
8    1  LAC MUNICIPAL    WKT.3  11.5111698938406 3.86584203168713
9    2      LAC OBILI    WKT.3  11.4956665074293 3.85674770406909
10   3  .MBAM RIVER 1    WKT.3  11.2902467509751 5.76816372375002
11   4   MBAM RIVER 2    WKT.3   11.291964458482 5.76120790054295
12   1  LAC MUNICIPAL    WKT.4  11.5109818856643 3.86556736035452
13   2      LAC OBILI    WKT.4  11.4955744575256 3.85658797980735
14   3  .MBAM RIVER 1    WKT.4  11.2899075857986 5.76844674448522
15   4   MBAM RIVER 2    WKT.4  11.2918003462998 5.76093576175224
16   1  LAC MUNICIPAL    WKT.5  11.5108005920658 3.86545347221489
17   2      LAC OBILI    WKT.5  11.4954824076219 3.85657001082602
18   3  .MBAM RIVER 1    WKT.5  11.2898857041743 5.76863179642802
19   4   MBAM RIVER 2    WKT.5  11.2915377668083 5.76076159285776
20   1  LAC MUNICIPAL    WKT.6  11.5104581486018 3.86544677291209
21   2      LAC OBILI    WKT.6  11.4953423316814 3.85660794534171
22   3  .MBAM RIVER 1    WKT.6   11.2899622898593 5.7688712753232
23   4   MBAM RIVER 2    WKT.6  11.2912095424439 5.76097930396752
24   1  LAC MUNICIPAL    WKT.7  11.5101694217597 3.86560085686326
25   2      LAC OBILI    WKT.7  11.4950661819704 3.85675169717524
26   3  .MBAM RIVER 1    WKT.7  11.2902248693508 5.76909986871972
27   4   MBAM RIVER 2    WKT.7  11.2911110751346 5.76130587047569
28   1  LAC MUNICIPAL    WKT.8   11.510041844783 3.86579513658785
29   2      LAC OBILI    WKT.8  11.4949661277272 3.85685551792878
30   3  .MBAM RIVER 1    WKT.8  11.2906953242731 5.76902367093112
31   4   MBAM RIVER 2    WKT.8  11.2911548383832 5.76175217773311
32   1  LAC MUNICIPAL    WKT.9   11.5100955614048 3.8661435001205
33   2      LAC OBILI    WKT.9  11.4949941429153 3.85711107665271
34   3  .MBAM RIVER 1    WKT.9  11.2909797853888 5.76868622345854
35   4   MBAM RIVER 2    WKT.9  11.2911548383832 5.76224202675823
36   1  LAC MUNICIPAL   WKT.10  11.5103171424696 3.86658565362888
37   2      LAC OBILI   WKT.10  11.4950661819704 3.85726880426427
38   3  .MBAM RIVER 1   WKT.10   11.2906953242731 5.7682508070682
39   4   MBAM RIVER 2   WKT.10  11.2910563710739 5.76274276088042
40   1  LAC MUNICIPAL   WKT.11   11.510867737843 3.86659235292269
41   2      LAC OBILI   WKT.11  11.4952702926264 3.85733469047309
42   3  .MBAM RIVER 1   WKT.11                               None
43   4   MBAM RIVER 2   WKT.11  11.2912204832561 5.76298224226101
44   1  LAC MUNICIPAL   WKT.12                               None
45   2      LAC OBILI   WKT.12  11.4954824076219 3.85722887322613
46   3  .MBAM RIVER 1   WKT.12                               None
47   4   MBAM RIVER 2   WKT.12  11.2915705892447 5.76303666983342
48   1  LAC MUNICIPAL   WKT.13                               None
49   2      LAC OBILI   WKT.13                               None
50   3  .MBAM RIVER 1   WKT.13                               None
51   4   MBAM RIVER 2   WKT.13  11.2919972809184 5.76268833327985
52   1  LAC MUNICIPAL   WKT.14                               None
53   2      LAC OBILI   WKT.14                               None
54   3  .MBAM RIVER 1   WKT.14                               None
55   4   MBAM RIVER 2   WKT.14  11.2920301033549 5.76219848463978

In [22]:
polygons_df_unpivot = polygons_df_unpivot.dropna()

In [23]:
polygons_df_unpivot[['p_longitude', 'p_latitude']] = polygons_df_unpivot['value'].str.split(' ', expand=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_17328\4157881040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  polygons_df_unpivot[['p_longitude', 'p_latitude']] = polygons_df_unpivot['value'].str.split(' ', expand=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_17328\4157881040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  polygons_df_unpivot[['p_longitude', 'p_latitude']] = polygons_df_unpivot['value'].str.split(' ', expand=True)

In [24]:
polygons_df_unpivot.head()

,id,site_name,variable,value,p_longitude,p_latitude
0,1,LAC MUNICIPAL,WKT.1,11.510867737843 3.86659235292269,11.510867737843,3.86659235292269
1,2,LAC OBILI,WKT.1,11.4954824076219 3.85722887322613,11.4954824076219,3.85722887322613
2,3,.MBAM RIVER 1,WKT.1,11.2906953242731 5.7682508070682,11.2906953242731,5.7682508070682
3,4,MBAM RIVER 2,WKT.1,11.2920301033549 5.76219848463978,11.2920301033549,5.76219848463978
4,1,LAC MUNICIPAL,WKT.2,11.5111497501074 3.86619709449744,11.5111497501074,3.86619709449744

In [25]:
polygons_df_unpivot = polygons_df_unpivot.sort_values(by=['id', 'site_name'])

In [26]:
polygons_df_unpivot = polygons_df_unpivot.drop("value", axis=1)

In [27]:
polygons_df_unpivot.head()

    id      site_name variable       p_longitude        p_latitude
0    1  LAC MUNICIPAL    WKT.1   11.510867737843  3.86659235292269
4    1  LAC MUNICIPAL    WKT.2  11.5111497501074  3.86619709449744
8    1  LAC MUNICIPAL    WKT.3  11.5111698938406  3.86584203168713
12   1  LAC MUNICIPAL    WKT.4  11.5109818856643  3.86556736035452
16   1  LAC MUNICIPAL    WKT.5  11.5108005920658  3.86545347221489

In [28]:
polygons_df_unpivot.head()

    id      site_name variable       p_longitude        p_latitude
0    1  LAC MUNICIPAL    WKT.1   11.510867737843  3.86659235292269
4    1  LAC MUNICIPAL    WKT.2  11.5111497501074  3.86619709449744
8    1  LAC MUNICIPAL    WKT.3  11.5111698938406  3.86584203168713
12   1  LAC MUNICIPAL    WKT.4  11.5109818856643  3.86556736035452
16   1  LAC MUNICIPAL    WKT.5  11.5108005920658  3.86545347221489

In [29]:
polygons_df_unpivot[['attribute', 'n']] = polygons_df_unpivot['variable'].str.split('.', expand=True)

In [30]:
polygons_df_unpivot.head()

,id,site_name,variable,p_longitude,p_latitude,attribute,n
0,1,LAC MUNICIPAL,WKT.1,11.510867737843,3.86659235292269,WKT,1
4,1,LAC MUNICIPAL,WKT.2,11.5111497501074,3.86619709449744,WKT,2
8,1,LAC MUNICIPAL,WKT.3,11.5111698938406,3.86584203168713,WKT,3
12,1,LAC MUNICIPAL,WKT.4,11.5109818856643,3.86556736035452,WKT,4
16,1,LAC MUNICIPAL,WKT.5,11.5108005920658,3.86545347221489,WKT,5

In [31]:
polygons_df_unpivot = polygons_df_unpivot.drop(columns=["variable", "attribute"], axis=1)

In [32]:
polygons_df_unpivot.head()

    id      site_name       p_longitude        p_latitude  n
0    1  LAC MUNICIPAL   11.510867737843  3.86659235292269  1
4    1  LAC MUNICIPAL  11.5111497501074  3.86619709449744  2
8    1  LAC MUNICIPAL  11.5111698938406  3.86584203168713  3
12   1  LAC MUNICIPAL  11.5109818856643  3.86556736035452  4
16   1  LAC MUNICIPAL  11.5108005920658  3.86545347221489  5

In [33]:
polygons_df_unpivot['n'] = polygons_df_unpivot['n'].astype(int)

In [34]:
polygons_df_unpivot.groupby('id')['n'].max()

id
1    11
2    12
3    10
4    14
Name: n, dtype: int32

In [35]:
conditions = [
  (polygons_df_unpivot.id == 1),
  (polygons_df_unpivot.id == 2),
  (polygons_df_unpivot.id == 3),
  (polygons_df_unpivot.id == 4)
]
values = [11, 12, 10, 14]
polygons_df_unpivot["n_corner"] = np.select(conditions, values, default=0)
polygons_df_unpivot

    id      site_name       p_longitude        p_latitude   n  n_corner
0    1  LAC MUNICIPAL   11.510867737843  3.86659235292269   1        11
4    1  LAC MUNICIPAL  11.5111497501074  3.86619709449744   2        11
8    1  LAC MUNICIPAL  11.5111698938406  3.86584203168713   3        11
12   1  LAC MUNICIPAL  11.5109818856643  3.86556736035452   4        11
16   1  LAC MUNICIPAL  11.5108005920658  3.86545347221489   5        11
20   1  LAC MUNICIPAL  11.5104581486018  3.86544677291209   6        11
24   1  LAC MUNICIPAL  11.5101694217597  3.86560085686326   7        11
28   1  LAC MUNICIPAL   11.510041844783  3.86579513658785   8        11
32   1  LAC MUNICIPAL  11.5100955614048   3.8661435001205   9        11
36   1  LAC MUNICIPAL  11.5103171424696  3.86658565362888  10        11
40   1  LAC MUNICIPAL   11.510867737843  3.86659235292269  11        11
1    2      LAC OBILI  11.4954824076219  3.85722887322613   1        12
5    2      LAC OBILI  11.4956104770531  3.85701723869269   2        12
9    2      LAC OBILI  11.4956665074293  3.85674770406909   3        12
13   2      LAC OBILI  11.4955744575256  3.85658797980735   4        12
17   2      LAC OBILI  11.4954824076219  3.85657001082602   5        12
21   2      LAC OBILI  11.4953423316814  3.85660794534171   6        12
25   2      LAC OBILI  11.4950661819704  3.85675169717524   7        12
29   2      LAC OBILI  11.4949661277272  3.85685551792878   8        12
33   2      LAC OBILI  11.4949941429153  3.85711107665271   9        12
37   2      LAC OBILI  11.4950661819704  3.85726880426427  10        12
41   2      LAC OBILI  11.4952702926264  3.85733469047309  11        12
45   2      LAC OBILI  11.4954824076219  3.85722887322613  12        12
2    3  .MBAM RIVER 1  11.2906953242731   5.7682508070682   1        10
6    3  .MBAM RIVER 1  11.2904765080301  5.76813106750226   2        10
10   3  .MBAM RIVER 1  11.2902467509751  5.76816372375002   3        10
14   3  .MBAM RIVER 1  11.2899075857986  5.76844674448522   4        10
18   3  .MBAM RIVER 1  11.2898857041743  5.76863179642802   5        10
22   3  .MBAM RIVER 1  11.2899622898593   5.7688712753232   6        10
26   3  .MBAM RIVER 1  11.2902248693508  5.76909986871972   7        10
30   3  .MBAM RIVER 1  11.2906953242731  5.76902367093112   8        10
34   3  .MBAM RIVER 1  11.2909797853888  5.76868622345854   9        10
38   3  .MBAM RIVER 1  11.2906953242731   5.7682508070682  10        10
3    4   MBAM RIVER 2  11.2920301033549  5.76219848463978   1        14
7    4   MBAM RIVER 2  11.2921066890399  5.76150181029044   2        14
11   4   MBAM RIVER 2   11.291964458482  5.76120790054295   3        14
15   4   MBAM RIVER 2  11.2918003462998  5.76093576175224   4        14
19   4   MBAM RIVER 2  11.2915377668083  5.76076159285776   5        14
23   4   MBAM RIVER 2  11.2912095424439  5.76097930396752   6        14
27   4   MBAM RIVER 2  11.2911110751346  5.76130587047569   7        14
31   4   MBAM RIVER 2  11.2911548383832  5.76175217773311   8        14
35   4   MBAM RIVER 2  11.2911548383832  5.76224202675823   9        14
39   4   MBAM RIVER 2  11.2910563710739  5.76274276088042  10        14
43   4   MBAM RIVER 2  11.2912204832561  5.76298224226101  11        14
47   4   MBAM RIVER 2  11.2915705892447  5.76303666983342  12        14
51   4   MBAM RIVER 2  11.2919972809184  5.76268833327985  13        14
55   4   MBAM RIVER 2  11.2920301033549  5.76219848463978  14        14

In [36]:
polygons_df_unpivot['id_key'] = polygons_df_unpivot["id"].apply(str) + '_' + polygons_df_unpivot['n'].apply(str)

In [37]:
polygons_df_unpivot.head()

    id      site_name       p_longitude        p_latitude  n  n_corner id_key
0    1  LAC MUNICIPAL   11.510867737843  3.86659235292269  1        11    1_1
4    1  LAC MUNICIPAL  11.5111497501074  3.86619709449744  2        11    1_2
8    1  LAC MUNICIPAL  11.5111698938406  3.86584203168713  3        11    1_3
12   1  LAC MUNICIPAL  11.5109818856643  3.86556736035452  4        11    1_4
16   1  LAC MUNICIPAL  11.5108005920658  3.86545347221489  5        11    1_5

In [38]:
polygons_df_unpivot = polygons_df_unpivot.drop(columns=['id', 'n'], axis=1)

In [39]:
polygons_df_unpivot.head()

        site_name       p_longitude        p_latitude  n_corner id_key
0   LAC MUNICIPAL   11.510867737843  3.86659235292269        11    1_1
4   LAC MUNICIPAL  11.5111497501074  3.86619709449744        11    1_2
8   LAC MUNICIPAL  11.5111698938406  3.86584203168713        11    1_3
12  LAC MUNICIPAL  11.5109818856643  3.86556736035452        11    1_4
16  LAC MUNICIPAL  11.5108005920658  3.86545347221489        11    1_5

In [40]:
polygons_df_unpivot.to_excel('site_prelevement_polygons_process.xlsx', index=False)

In [41]:
polygons_df_unpivot.to_csv('preload_polygons.csv', index=False)